html, body {
    height: 100%;
}
body {

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

main {
    
    flex: 1;
    margin-bottom: 2rem;
}

header, footer {
    width: 100%;
}

body{
    background-image: url('/frontend/img/cine.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.card-title{
    color: aliceblue;
}

.card-img-top{
    width: 200px;
    margin: 0;
    padding: 0;


}


footer{
    position: absolute;
}